<!DOCTYPE html>
<html>
<head>
<title> Dashboard  </title>
</head>
<h1>Welcome to your  dashboard  </h1>
<body>
  <script>
  {% include "dashboard/dashboard.js" %}
  </script>
  <h3>Put value </h3>

  <p> Average Temperature : </p>
  <p id = "avg_temperature">----</p>

  <p> Average Pressure : </p>
  <p id = "avg_pressure">----</p>

  <p> Average Humidity : </p>
  <p id = "avg_humidity">----</p>

  <p> Average Co2 : </p>
  <p id = "avg_co2">----</p>

  <p> Average Tvoc : </p>
  <p id = "avg_tvoc">----</p>

  <br  />
  <a href="{% url 'i_list_page' %}">List Instruments</a>

</body>
</html>
